<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Feedback Sentiment</title>
</head>
<body>
    <form action="" method="post">
        <p>Feedback Text</p>
        <textarea name="fb" id="fb" cols="30" rows="10"></textarea>
        
        <p>Aspect(Not Important rn)</p>
        <input type="text" name="aspect" id="aspect">
        <br>
        <input type="button" value="Predict">
    </form>
</body>
</html>