<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Feedback Sentiment</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

    <form action="{{ url_for('predict')}}" method="post" id="regForm">

        <center>
            <h2>Feedback Text</h2>
        </center>

        <textarea name="fb" id="fb" cols="30" rows="10"></textarea>
        
        <p>Aspect(Not Important rn)</p>
        <input type="text" name="aspect" id="aspect">
        <br>
        <input type="button" value="Predict">

        <p>rating 0-10</p>
        <div class="kit">
            <p class="alert alert-success">
                {{ prediction_text }}
            </p>
        </div>

    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>